[submodule "libraries/li3_flash_message"]
	path = libraries/li3_flash_message
	url = git@github.com:mehlah/li3_flash_message.git
[submodule "libraries/li3_faker/libraries/Faker"]
	path = libraries/li3_faker/libraries/Faker
	url = git://github.com/fzaninotto/Faker.git