// add & edit
.projects-nav {
  margin: 16px 0;
}

.project-examples {
  h6 {
    font-size: 14px;
    color: $mainColor;
  }
  h5 {
    margin-bottom: 0px;
  }
  p {
    font-size: 14px;
    color: $grayDark;
  }

  margin-top: 17px;
  border-left: 1px solid #ddd;
}

// project view
#project-show {
  header {
    h3 { margin-bottom: 0; }
    p { color: $grayDark; }
  }
}