.project-item {

  &>.panel {
    min-height: 230px;
    header {
      h5 {
        margin-top: 0px;
      }
    }
  }

  header {
    h5 {
      margin-bottom: 0px;
    }
    a {
      color: $headerFontColor;
      &:hover {
        color: $mainColor;
      }
    }

    p {
      color: $grayDark;
      word-wrap: break-word;
      margin-bottom: 5px;
      font-size: ms(0);
    }

    p + p {
      font-size: ms(0) - 4;
    }
  }
}
