@import "foundation/components/modules/topbar";

.contain-to-grid {
  margin-bottom: $topBarBtmMargin;
}

.top-bar {

  &>ul {
    .name {
      background-color: #1c1c1c;
      h1 {
        a {
          color: #fff;
        }
      }
      &:hover {
        background-color: $mainColor;
        @include transition(background-color 0.3s ease-in-out);
      }
    }

    .tagline {
      padding: 0 ms(0);
      color: $topBarLinkColor;
      display: block;
      font-family: "felt-tip-roman", sans-serif;
      font-size: $topBarLinkSize + 2;
      font-weight: $topBarLinkWeight;
      height: $topBarHeight;
      line-height: $topBarHeight;
      padding: 0 $topBarHeight / 3;

      &:hover {
        background-color: $topBarBgColor !important;
      }
    }
  }

  ul {
    &>li {
      &:not(.name) {
        &:hover {
          background: darken($topBarBgColor, 5%);
        }
      }
    }
  }

  img.avatar {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -5px;
    border: solid 2px #fff;
    @include border-radius(100px);
  }
}