ul#projects-list {
	list-style: none;

	li:first-child h4 {
		margin-top: 0px;
	}

	header {
		h4 {
			margin-bottom: 0px;
		}
		a {
			color: $headerFontColor;
			&:hover {
				color: $mainColor;
			}
		}

		p {
			color: $brown;
			word-wrap: break-word;
			margin-bottom: 5px;
		}

		p + p {
			font-size: 12px;
		}
	}
}

div.projects-nav {
	margin-bottom: 16px;
}