ul#projects-list {
	list-style: none;

	li:first-child h4 {
		margin-top: 0px;
	}

	header {
		h4 {
			margin-bottom: 0px;
		}
		a {
			color: $headerFontColor;
			&:hover {
				color: $mainColor;
			}
		}

		p {
			color: $brown;
			word-wrap: break-word;
			margin-bottom: 5px;
		}

		p + p {
			font-size: 12px;
		}
	}
}

div.projects-nav {
	margin-bottom: 16px;
}

div.project-examples {
	h6 {
		font-size: 14px;
		color: $orange;
	}
	h5 {
		margin-bottom: 0px;
	}
	p {
		font-size: 14px;
		color: $brown;
	}

	margin-top: 17px;
	border-left: 1px solid #ddd;
}