// project list
ul#projects-list {
	list-style: none;

	li:first-child h4 {
		margin-top: 0px;
	}

	header {
		h4 {
			margin-bottom: 0px;
		}
		a {
			color: $headerFontColor;
			&:hover {
				color: $mainColor;
			}
		}

		p {
			color: $brown;
			word-wrap: break-word;
			margin-bottom: 5px;
		}

		p + p {
			font-size: 12px;
		}
	}
}

// add & edit
div.projects-nav {
	margin-bottom: 16px;
}

div.project-examples {
	h6 {
		font-size: 14px;
		color: $orange;
	}
	h5 {
		margin-bottom: 0px;
	}
	p {
		font-size: 14px;
		color: $brown;
	}

	margin-top: 17px;
	border-left: 1px solid #ddd;
}

// project view
.project {
	header {
		h3 { margin-bottom: 0; }
		p { color: $brown; }
	}
	#discussions-list {
		h5 a {
			margin: 0 8px;
		}
		ul {
			a {
				color: $txtColor;
				&:hover {
					color: $orange;
					text-decoration: underline;
				}
			}
			li {
				padding-top: 17px;
				border-bottom: 1px solid #eee;
				&:last-child { border-bottom: none; }
				.creator {
					.creator-avatar img {
						margin: -8px 4px 0 0;
						vertical-align: top;
						height: 40px;
						width: 40px;
						border-radius: 100px;
					}
				}
			}
			list-style: none;
		}
		margin-top: 32px;
	}
}