@import "foundation/common/ratios";

// Grid Settings
$rowWidth: 1000px;
$columnGutter: 30px;
$totalColumns: 12;
$mobileTotalColumns: 4;
$blockGridElements: 12;

// Colors Settings
$black: #211f18;
$white: #fff;
$pink: #d54d7b;
$grayDark: #7a7c7f;
$grayLight: #B6B6B6;
$grayLighter: #f5f5f5;

$mainColor: $pink; //#F90B6D
$secondaryColor: $grayLight;
$alertColor: #c60f13;
$successColor: #5da423;
$highlightColor: #ffff99;
$shinyEdge: rgba(#fff, .5);
$darkEdge: rgba(#000, .2);

// Typography Settings
$fontSmoothing: antialiased;
$headerFontFamily: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontWeight: 700;
$headerFontColor: $black;
$headerFontStyle: normal;
$bodyFontFamily: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontWeight: 500;
$bodyFontColor: $black;
$bodyFontStyle: normal;

$txtColor: $black;

// Modular Scale
$ratio: $golden;
$baseFontSize: 16px;
$importantModNum: 44px;
$base-size: $baseFontSize $importantModNum;

// Icons font
$fontFileName: "/fonts/general_foundicons";
$fontName: "GeneralFoundicons";
$classPrefix: "icon-";

// Button Settings
$buttonRadius: 4px;
$btnBase: 10px;
$tinyBtnBase: $btnBase - 5;
$smallBtnBase: $btnBase - 3;
$largeBtnBase: $btnBase + 5;

// Form Settings
$formSpacing: 14px;
// $labelFontWeight: 500;
// $labelFontColor: lighten(#000, 30%);
// $labelBtmMargin: 3px;
// $inputFontColor: rgba(0,0,0,0.75);
// $inputFontSize: 14px;
// $inputBgColor: #fff;
// $inputFocusBgColor: darken(#fff, 2%);
// $inputBorderColor: darken(#fff, 20%);
// $inputFocusBorderColor: darken(#fff, 30%);
// $inputBorderStyle: solid;
// $inputBorderWidth: 1px;
// $inputBorderRadius: 2px;
// $fieldsetBorderRadius: 3px;

// Tab Settings
$tabHeight: 40px;
// $tabTermFontSize: 12px;

// Nav Bar Settings
$navBarHeight: 40px;
$navFlyoutBaseWidth: 250px;

// UI Settings
$thumbRadius: 3px;

// Tooltip Settings
$hasTipBorderBottom: dotted 1px #ccc;
$hasTipFontWeight: bold;
$hasTipFontColor: #333;
$hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
$hasTipFontColorHover: $mainColor;
$tooltipBackgroundColor: #000;
$tooltipBackgroundOpacity: 0.85;
$tooltipFontSize: 12;
$tooltipFontWeight: bold;
$tooltipFontColor: #fff;
$tapToCloseFontSize: 10;
$tapToCloseFontWeight: normal;
$tapToCloseFontColor: #888;
$tooltipFontSizeScreenSmall: 14;
$tooltipBackgroundOpacityScreenSmall: 0.85;
$tooltipBorderRadius: 4px;

// Top Bar Settings
$topBarBgColor: #f8f8f8;
$topBarHeight: 60px;
$topBarBtmMargin: 60px;
$topBarTitleWeight: bold;
$topBarTitleSize: ms(1);
$topBarLinkColor: #979797;
$topBarLinkWeight: bold;
$topBarLinkSize: ms(0) - 1;
$topBarDropToggleSize: 5px;
$topBarDropToggleColor: #979797;
// $topBarDropToggleAlpha: 0.5;
$topBarSearchWidth: 200px;
$topBarBreakPoint: 940px; // Change to 9999px for always mobile layout
$topBarNavToggleSize: 8px;
