@import "foundation/common/ratios";

// Grid Settings
$rowWidth: 1000px;
$columnGutter: 30px;
$totalColumns: 12;
$mobileTotalColumns: 4;

// Colors Settings
$black: #211f18;
$dark-gray: #423f37;
$light-gray: #e3e0d8;
$white: #fff;
$orange: #D8443F;
$brown: #AA9C84;

$mainColor: $orange;
$secondaryColor: $light-gray;
$alertColor: #c60f13;
$successColor: #5da423;
$highlightColor: #ffff99;
$shinyEdge: rgba(#fff, .5);
$darkEdge: rgba(#000, .2);

// Typography Settings
$headerFontFamily: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$headerFontWeight: 700;
$headerFontColor: $dark-gray;

$bodyFontFamily: "freight-sans-pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$bodyFontWeight: 500;
$bodyFontColor: $black;

$txtColor: $black;

// Button Settings
$buttonRadius: 4px;
$btnBase: 10px;

$tinyBtnBase: $btnBase - 5;
$smallBtnBase: $btnBase - 3;
$largeBtnBase: $btnBase + 5;

// Form Settings
$formSpacing: 14px;

// Tab Settings
$tabHeight: 40px;

// Nav Bar Settings
$navBarHeight: 40px;
$navFlyoutBaseWidth: 250px;

// Modular Scale
$ratio: $golden;
$baseFontSize: 16px;
$importantModNum: 44px;

// Tooltip Settings
$hasTipBorderBottom: dotted 1px #ccc;
$hasTipFontWeight: bold;
$hasTipFontColor: #333;
$hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
$hasTipFontColorHover: $mainColor;
$tooltipBackgroundColor: #000;
$tooltipBackgroundOpacity: 0.85;
$tooltipFontSize: 12;
$tooltipFontWeight: bold;
$tooltipFontColor: #fff;
$tapToCloseFontSize: 10;
$tapToCloseFontWeight: normal;
$tapToCloseFontColor: #888;
$tooltipFontSizeScreenSmall: 14;
$tooltipBackgroundOpacityScreenSmall: 0.85;